################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/venv
/venvgpu
/__pycache__
/.vs
/*/__pycache__
/*/*/__pycache__
private.json
